- var SKETCH_DIR = "./sketch/"
- 
	var data = {
		title: "Daily Coding 2021",
		feb:[
		{
			id :01,
			url:`${SKETCH_DIR}02/01`,
			title:"Crazy brush"
		},
		{
			url:`${SKETCH_DIR}02/02`,
			title:"Lightning walk"
		},
		{
			url:`${SKETCH_DIR}02/03`,
			title:"D and N"
		},
		{
			url:`${SKETCH_DIR}02/04`,
			title:"Click me!"
		},
		{
			url:`${SKETCH_DIR}02/05`,
			title:"©"
		},
		{
			url:`${SKETCH_DIR}02/06`,
			title:"Easing colors"
		},
		{
			url:`${SKETCH_DIR}02/07`,
			title:"Cars"
		},
		{
			url:`${SKETCH_DIR}02/08`,
			title:"Snow"
		},
		{
			url:`${SKETCH_DIR}02/09`,
			title:"Spread colors"
		},
		{
			url:`${SKETCH_DIR}02/10`,
			title:"WE"
		},
		{
			url:`${SKETCH_DIR}02/11`,
			title:"Bounding balls"
		},
		{
			url:`${SKETCH_DIR}02/12`,
			title:"Numbers"
		},
		{
			url:`${SKETCH_DIR}02/13`,
			title:"Wavey Lines"
		},
		{
			url:`${SKETCH_DIR}02/14`,
			title:"Wavey Lines Ⅱ"
		},
		{
			url:`${SKETCH_DIR}02/15`,
			title:"Color infinity"
		},
		{
			url:`${SKETCH_DIR}02/16`,
			title:"Desert"
		},
		{
			url:`${SKETCH_DIR}02/17`,
			title:"Numbers Ⅱ"
		},
		{
			url:`${SKETCH_DIR}02/18`,
			title:"RGB"
		},
		{
			url:`${SKETCH_DIR}02/19`,
			title:"Alphabet brush"
		},
		{
			url:`${SKETCH_DIR}02/21`,
			title:"Rects"
		},
		{
			url:`${SKETCH_DIR}02/22`,
			title:"Tube"
		},
		{
			url:`${SKETCH_DIR}02/23`,
			title:"Amorphous"
		},
		{
			url:`${SKETCH_DIR}02/25`,
			title:"Two"
		},
		{
			url:`${SKETCH_DIR}02/26`,
			title:"Rects(B&W)"
		},
		{
			url:`${SKETCH_DIR}02/27`,
			title:"Concentric circles(B&W)"
		},
		{
			url:`${SKETCH_DIR}02/28`,
			title:"Concentric circles(Noisy)"
		},
		],
		mar:[
		{
			url:`${SKETCH_DIR}03/01`,
			title:"Cone(B&W)"
		},
		{
			url:`${SKETCH_DIR}03/02`,
			title:"Concentric circles(Mono gradation)"
		},
		{
			url:`${SKETCH_DIR}03/03`,
			title:"Worm(Line)"
		},
		{
			url:`${SKETCH_DIR}03/04`,
			title:"Worm(Ball)"
		},
		{
			url:`${SKETCH_DIR}03/05`,
			title:"Worm(B&W)"
		},
		{
			url:`${SKETCH_DIR}03/06`,
			title:"Worm(Random numbers)"
		},
		{
			url:`${SKETCH_DIR}03/07`,
			title:"Worm(0-9)"
		},
		{
			url:`${SKETCH_DIR}03/08`,
			title:"Worm(Mono gradation)"
		},
		{
			url:`${SKETCH_DIR}03/09`,
			title:"Worm(Rect)"
		},
		{
			url:`${SKETCH_DIR}03/10`,
			title:"A(Division)"
		},
		{
			url:`${SKETCH_DIR}03/11`,
			title:"A-Z(Division)"
		},
		{
			url:`${SKETCH_DIR}03/12`,
			title:"Dream & Reality"
		},
		{
			url:`${SKETCH_DIR}03/13`,
			title:"Alphabet composition"
		},
		{
			url:`${SKETCH_DIR}03/14`,
			title:"Hiragana composition"
		},
		{
			url:`${SKETCH_DIR}03/15`,
			title:"Mashing!(Hiragana)"
		},
		{
			url:`${SKETCH_DIR}03/16`,
			title:"Mashing!(Katakana)"
		},
		{
			url:`${SKETCH_DIR}03/17`,
			title:"Compose(Alphabet)"
		},
		{
			url:`${SKETCH_DIR}03/18`,
			title:"Compose(Hiragana)"
		},
		{
			url:`${SKETCH_DIR}03/19`,
			title:"Random walkers"
		},
		{
			url:`${SKETCH_DIR}03/20`,
			title:"Dripping blue"
		},
		{
			url:`${SKETCH_DIR}03/21`,
			title:"Dripping HSB"
		},
		{
			url:`${SKETCH_DIR}03/22`,
			title:"Mashing!(Alphabet)"
		},
		{
			url:`${SKETCH_DIR}03/23`,
			title:"Arcs(Line)"
		},
		{
			url:`${SKETCH_DIR}03/24`,
			title:"Arcs(Line 2)"
		},
		{
			url:`${SKETCH_DIR}03/25`,
			title:"Arcs(Mono)"
		},
		{
			url:`${SKETCH_DIR}03/26`,
			title:"Arcs(B&W)"
		},
		{
			url:`${SKETCH_DIR}03/27`,
			title:"Arcs(Mono tiles)"
		},
		{
			url:`${SKETCH_DIR}03/28`,
			title:"Arcs(Mono tiles 2)"
		},
		{
			url:`${SKETCH_DIR}03/29`,
			title:"Arcs(Mono tiles 3)"
		},
		{
			url:`${SKETCH_DIR}03/30`,
			title:"Arcs(Alphabet)"
		},
		{
			url:`${SKETCH_DIR}03/31`,
			title:"Arcs(Alphabet 2)"
		},
		],
		apr:[
		{
			url:`${SKETCH_DIR}04/01`,
			title:"Arc(Division image)"
		},
		{
			url:`${SKETCH_DIR}04/02`,
			title:"Arc(Division image 2)"
		},
		{
			url:`${SKETCH_DIR}04/03`,
			title:"Arc(Division image 3)"
		},
		{
			url:`${SKETCH_DIR}04/04`,
			title:"Spring is just around the corner"
		},
		{
			url:`${SKETCH_DIR}04/05`,
			title:"Arc(Division image 4)"
		},
		{
			url:`${SKETCH_DIR}04/06`,
			title:"Stripe(picture)"
		},
		{
			url:`${SKETCH_DIR}04/07`,
			title:"Stripe(picture 2)"
		},
		{
			url:`${SKETCH_DIR}04/08`,
			title:"Stripe(picture 3)"
		},
		{
			url:`${SKETCH_DIR}04/09`,
			title:"Mosaic"
		},
		{
			url:`${SKETCH_DIR}04/10`,
			title:"Dripping(Picture)"
		},
		{
			url:`${SKETCH_DIR}04/11`,
			title:"Trees"
		},
		{
			url:`${SKETCH_DIR}04/12`,
			title:"Sound of square"
		},
		{
			url:`${SKETCH_DIR}04/13`,
			title:"Sound of circles"
		},
		{
			url:`${SKETCH_DIR}04/14`,
			title:"Sound of circles 2"
		},
		{
			url:`${SKETCH_DIR}04/15`,
			title:"Sound of square 2"
		},
		{
			url:`${SKETCH_DIR}04/16`,
			title:"Sound of square 3"
		},
		{
			url:`${SKETCH_DIR}04/17`,
			title:"Sound of square 4"
		},
		{
			url:`${SKETCH_DIR}04/18`,
			title:"Sound of square 5"
		},
		{
			url:`${SKETCH_DIR}04/19`,
			title:"Sound of square 6"
		},
		{
			url:`${SKETCH_DIR}04/20`,
			title:"Noisy metronome"
		},
		{
			url:`${SKETCH_DIR}04/21`,
			title:"Noise(w, b, p)"
		},
		{
			url:`${SKETCH_DIR}04/22`,
			title:"Chord circles"
		},
		{
			url:`${SKETCH_DIR}04/23`,
			title:"Scale sound"
		},
		{
			url:`${SKETCH_DIR}04/24`,
			title:"Perlin noise"
		},
		{
			url:`${SKETCH_DIR}04/25`,
			title:"Perlin noise(Dot)"
		},
		{
			url:`${SKETCH_DIR}04/26`,
			title:"Perlin noise(Line)"
		},
		{
			url:`${SKETCH_DIR}04/27`,
			title:"Perlin noise(Dot) 2"
		},
		{
			url:`${SKETCH_DIR}04/28`,
			title:"Perlin noise grid(Dot)"
		},
		{
			url:`${SKETCH_DIR}04/29`,
			title:"Perlin noise grid(Line)"
		},
		{
			url:`${SKETCH_DIR}04/30`,
			title:"Perlin noise grid(3d)"
		},
		],
		may:[
		{
			url:`${SKETCH_DIR}05/01`,
			title:"Spiral"
		},
		{
			url:`${SKETCH_DIR}05/02`,
			title:"Ellipses"
		},
		{
			url:`${SKETCH_DIR}05/03`,
			title:"Coordinate"
		},
		{
			url:`${SKETCH_DIR}05/04`,
			title:"Boxes"
		},
		{
			url:`${SKETCH_DIR}05/05`,
			title:"ZZZZZZZ"
		},
		{
			url:`${SKETCH_DIR}05/06`,
			title:"Flow lines"
		},
		{
			url:`${SKETCH_DIR}05/07`,
			title:"WAVE"
		},
		{
			url:`${SKETCH_DIR}05/08`,
			title:"Numbers in array"
		},
		{
			url:`${SKETCH_DIR}05/09`,
			title:"Dripping alphabet"
		},
		{
			url:`${SKETCH_DIR}05/10`,
			title:"Vertigo"
		},
		{
			url:`${SKETCH_DIR}05/11`,
			title:"Vertigo 2"
		},
		{
			url:`${SKETCH_DIR}05/12`,
			title:"Vertigo 3"
		},
		{
			url:`${SKETCH_DIR}05/13`,
			title:"Spiral 2"
		},
		{
			url:`${SKETCH_DIR}05/14`,
			title:"Vertigo 4"
		},
		{
			url:`${SKETCH_DIR}05/15`,
			title:"Vertigo 5"
		},
		{
			url:`${SKETCH_DIR}05/16`,
			title:"Vertigo 6"
		},
		{
			url:`${SKETCH_DIR}05/17`,
			title:"Vertigo 7"
		},
		{
			url:`${SKETCH_DIR}05/18`,
			title:"Auto composition"
		},
		{
			url:`${SKETCH_DIR}05/19`,
			title:"Auto composition 2"
		},
		{
			url:`${SKETCH_DIR}05/20`,
			title:"Auto composition 3"
		},
		{
			url:`${SKETCH_DIR}05/21`,
			title:"Auto composition 4"
		},
		{
			url:`${SKETCH_DIR}05/22`,
			title:"Auto composition 5"
		},
		{
			url:`${SKETCH_DIR}05/23`,
			title:"Auto composition 6"
		},
		{
			url:`${SKETCH_DIR}05/24`,
			title:"Number to go forward"
		},
		{
			url:`${SKETCH_DIR}05/25`,
			title:"Auto composition 7"
		},
		{
			url:`${SKETCH_DIR}05/26`,
			title:"Auto composition 8"
		},
		{
			url:`${SKETCH_DIR}05/27`,
			title:"Mechanism"
		},
		{
			url:`${SKETCH_DIR}05/28`,
			title:"Rotate squares"
		},
		{
			url:`${SKETCH_DIR}05/29`,
			title:"Loop"
		},
		{
			url:`${SKETCH_DIR}05/30`,
			title:"Loop 2"
		},
		{
			url:`${SKETCH_DIR}05/31`,
			title:"Loop 3"
		},
		],
		june:[
		{
			url:`${SKETCH_DIR}06/01`,
			title:"Loop 4"
		},
		{
			url:`${SKETCH_DIR}06/02`,
			title:"Loop 5"
		},
		{
			url:`${SKETCH_DIR}06/03`,
			title:"Loop 6"
		},
		{
			url:`${SKETCH_DIR}06/04`,
			title:"Loop 7"
		},
		{
			url:`${SKETCH_DIR}06/05`,
			title:"Loop 8"
		},
		{
			url:`${SKETCH_DIR}06/06`,
			title:"Loop 9"
		},
		{
			url:`${SKETCH_DIR}06/07`,
			title:"Loop 10"
		},
		{
			url:`${SKETCH_DIR}06/08`,
			title:"Loop 11"
		},
		{
			url:`${SKETCH_DIR}06/09`,
			title:"Loop 12"
		},
		{
			url:`${SKETCH_DIR}06/10`,
			title:"Loop 13"
		},
		{
			url:`${SKETCH_DIR}06/11`,
			title:"Loop 14"
		},
		{
			url:`${SKETCH_DIR}06/12`,
			title:"Loop 15"
		},
		{
			url:`${SKETCH_DIR}06/13`,
			title:"Loop 16"
		},
		{
			url:`${SKETCH_DIR}06/14`,
			title:"Loop 17"
		},
		{
			url:`${SKETCH_DIR}06/15`,
			title:"Loop 18"
		},
		{
			url:`${SKETCH_DIR}06/16`,
			title:"Loop 19"
		},
		{
			url:`${SKETCH_DIR}06/17`,
			title:"Loop 20"
		},
		{
			url:`${SKETCH_DIR}06/18`,
			title:"Loop 21"
		},
		{
			url:`${SKETCH_DIR}06/19`,
			title:"Loop 22"
		},
		{
			url:`${SKETCH_DIR}06/20`,
			title:"Loop 23"
		},
		{
			url:`${SKETCH_DIR}06/21`,
			title:"Loop 24"
		},
		{
			url:`${SKETCH_DIR}06/22`,
			title:"Loop 25"
		},
		{
			url:`${SKETCH_DIR}06/23`,
			title:"Loop 26"
		},
		{
			url:`${SKETCH_DIR}06/24`,
			title:"Loop 27"
		},
		{
			url:`${SKETCH_DIR}06/25`,
			title:"Loop 28"
		},
		{
			url:`${SKETCH_DIR}06/26`,
			title:"Auto composition 8"
		},
		{
			url:`${SKETCH_DIR}06/27`,
			title:"Mechanism"
		},
		{
			url:`${SKETCH_DIR}06/28`,
			title:"The most popular articles on NYTimes.com"
		},
		],
		july:[
		{
			url:`${SKETCH_DIR}07/01`,
			title:"iterate"
		},
		{
			url:`${SKETCH_DIR}07/02`,
			title:"Division lines"
		},
		{
			url:`${SKETCH_DIR}07/03`,
			title:"Grid"
		},
		{
			url:`${SKETCH_DIR}07/04`,
			title:"Sine waves"
		},
		{
			url:`${SKETCH_DIR}07/05`,
			title:"Curl"
		},
		{
			url:`${SKETCH_DIR}07/06`,
			title:"Rotate square"
		},
		],
		sep:[
		{
			url:`${SKETCH_DIR}09/01`,
			title:"First three.js"
		},
		{
			url:`${SKETCH_DIR}09/02`,
			title:"Cast shadow"
		},
		{
			url:`${SKETCH_DIR}09/03`,
			title:"Animation"
		},
		{
			url:`${SKETCH_DIR}09/04`,
			title:"Dat.gui"
		},
		{
			url:`${SKETCH_DIR}09/05`,
			title:"Add and delete cubes"
		},
		{
			url:`${SKETCH_DIR}09/06`,
			title:"Fog"
		},
		{
			//- url:`${SKETCH_DIR}09/07`,
			//- title:"Rotate square"
		},
		]
	}